# Virtual environments
venv/
.venv/

# Local env
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Notebooks
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

